*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2C2A2A;

}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 78px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.modal-content{
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 60px 70px ;
    display: flex;
    border-radius: 10px;
}

h3{
    color: #2C2A2A;
    font-size: 24px;
    text-align: center;
}

.modalForm{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.taskTitle, .taskDescription, .taskStatus{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
}

.taskTitle input, .taskDescription textarea, .taskStatus select{
    height: 30px;
    align-content: center;
    font-size: 12px;
    border: 1px solid #2C2A2A;
    border-radius: 5px;

}

.taskStatus select{
    background: #f8efff;
}

.submit{
    display: flex;
    justify-content: space-between;
}
.save, .cancel{
    background: #D7AAFB;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    align-self: flex-end;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}


.cancel{
    background: #d4d4d4;
}

/* Media Queries */

@media screen and (max-width: 768px) {
   h3{
    font-size: 20px;
   }

   .form{
    gap: 20px;
   }

   .taskTitle input,
    .taskDescription textarea,
    .taskStatus select{
        height: 25px;
        font-size: 14px;
    }

    .submit{
        flex-wrap: wrap;
        gap: 15px;
    }
}