*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2C2A2A;

}

.home{
    position: relative;
    background: linear-gradient(0deg, rgba(115,0,185,1) 0%, rgba(215,170,251,1) 100%);
    width: 100vw;
    min-height: 100vh;
    padding: 70px 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
}

.logo h1{
    color: #fff;
    font-size: 64px;
    font-weight: bold;
}

.container{
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 70px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;

}

.filter-buttons{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-buttons button{
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.filter-buttons button.selected {
    background-color: #a841fc !important;
    color: #fff;
  }


.filter-buttons button:nth-child(1){
    background: #D7AAFB;
}



.filter-buttons button:nth-child(2){
    background: #C9C9C9;
}

.filter-buttons button:nth-child(3){
    background: #FFCE40;
}

.filter-buttons button:nth-child(4){
    background: #0EEE4A;
}

.addTask{
    background: #D7AAFB;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    align-self: flex-end;
    border: none;
    border-radius: 25px;
    cursor: pointer;
   
}

@media screen and (max-width: 968px){
    .filter-buttons{
        gap: 15px;
    }
}